@use "/src/sass/base/variables.scss" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol [role="list"],
ul [role="list"],
li {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Arial", sans-serif;
	scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
	color: black;
}

button {
	padding: 0;
	margin: 0;
}

.background {
    display: block;
    width: 100%;
    height: 100vh;
    background: $gradient-color;
}

.container {
	width: 100vw;
    height: 100vh;
    background: $dark-color;
}
