@use "/src/sass/base/variables.scss" as *;

.buttons {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 6px;
}