@use "/src/sass/base/variables.scss" as *;

.display {
	display: inline-block;
	width: 100vw;
	max-height: 500px;
	padding: 160px 24px 6px 24px;
	color: $btn-action;
	font-size: 64px;
	text-align: right;
}

@media screen and (min-width: 425px) {
	.display {
		padding: 160px 48px 6px 48px;
	}
}
